{% extends 'order/main.html' %}

{% block title %}
    {{ category }}
{% endblock %}

{% block content %}

    <table class="table">
        <thead class="thead-dark">
            <tr>
              <th scope="col">id</th>
              <th scope="col">Product name</th>
              <th scope="col">Category</th>
              <th scope="col">Price</th>
              <th scope="col">Quantity on stock</th>
              <th scope="col">Options</th>
            </tr>
        </thead>
        {% for product in products %}
            {% if product.quantity_on_stock > 0 %}
            <tbody>
                <tr>
                <th scope="row">{{ product.id }}</th>
                <td><a href="{% url 'order_product_info' product.id %}">{{ product.title}}</a></td>
                <td>{{ product.category}}</td>
                <td>{{ product.price}}</td>
                <td>{{ product.quantity_on_stock }}</td>
                <td>
                    <a href="{% url 'add_to_order' product.id %}"><i class="fas fa-cart-plus"></i></a>
                </td>
                </tr>
            </tbody>
            {% endif %}
        {% endfor %}
    </table>

{% endblock %}