{% extends 'warehouse/main.html' %}

{% block title %}
    {{ product.title }}
{% endblock %}

{% block content %}

    <div class="jumbotron" style="margin-left: 3%; margin-right: 3%">
        <h1 class="display-4">{{ product.title }}</h1>
        <p class="lead">{{ product.description|linebreaks }}</p>
        <hr class="my-4">
        <p>Price: {{ product.price }}</p>
        <p>Quantity: {{ product.quantity_on_stock }}</p>
        <a class="btn btn-primary btn-lg" href="{% url 'edit_product' product.id %}" role="button">edit this product</a>
    </div>

{% endblock %}