{% extends 'warehouse/main.html' %}

{% block title %}
    Search product
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-sm">
            </div>
            <div class="col-sm">
                {% for message in messages %}
                    <div class="alert alert-danger" style="text-align:center" role="alert">
                      {{ message }}
                    </div>
                {% endfor %}

                <form method="POST">
                    {% csrf_token %}
                    <div style="margin-bottom:2%">
                        {{ search_form.title }}
                    </div>
                    <div style="margin-bottom:2%">
                        {{ search_form.description }}
                    </div>
                    <button type="submit" class="btn btn-primary btn-lg btn-block" data-toggle="button" aria-pressed="false">
                      Search
                    </button>
                </form>
            </div>
            <div class="col-sm">
            </div>
        </div>
    </div>

    <div style="margin-top: 3%">
        {% if expected_product %}
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                      <th scope="col">id</th>
                      <th scope="col">Product name</th>
                      <th scope="col">Price</th>
                      <th scope="col">Quantity on stock</th>
                      <th scope="col">Options</th>
                    </tr>
                </thead>
                {% for product in expected_product %}
                <tbody>
                    <tr>
                    <th scope="row">{{ product.id }}</th>
                    <td><a href="{% url 'product_info' product.id %}">{{ product.title}}</a></td>
                    <td>{{ product.price}}</td>
                    <td>{{ product.quantity_on_stock }}</td>
                    <td>
                        <a href="{% url 'edit_product' product.id %}">edit</a>
                    </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>

{% endblock %}